body{
    color: azure;
    font-family: Arial;
    background: azure;
}

h2{
    color: azure;
    font-family: Arial;
    font-size: 22pt;
    font-weight: bolder;
}

a:link{
    color: azure;
}

pre{
    margin:10pt;
    font-size: 14pt;
}

a:visited{
    color: lightslategray;
}

.header{
    text-align: center;
    font-size: 36px;
    background: #2c5373;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1%;
    padding: 10px;
}

.content{
    padding: 20px;
    background: #2c5373;
    font-size: 16pt;
    line-height: 1.4;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1%;
}

.footer{
    text-align: center;
    background: #2c5373;
    font-size: 24pt;
    margin-left: 7%;
    margin-right: 7%;
}


