body{
    color: azure;
    font-family: Arial;
    background: azure;
}

h2{
    color: azure;
    font-family: Arial;
    font-size: 22pt;
    font-weight: bolder;
}

a:link{
    color: azure;
}

pre{
    margin:10px;
    font-size: 16pt;
}

a:visited{
    color: lightslategray;
}

fieldset{
    text-align: center;
    width: 40%;
    margin: auto;
}

code{
    display: block;
    margin-left: 2.75%;
    font-size: 16pt;
}

.header{
    text-align: center;
    font-size: 36px;
    background: #2c5373;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1%;
    padding: 10px;
}

.content{
    padding: 2.5%;
    background: #2c5373;
    font-size: 18pt;
    line-height: 1.4;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1%;
}

.footer{
    text-align: center;
    background: #2c5373;
    font-size: 24pt;
    margin-left: 7%;
    margin-right: 7%;
    padding: 5px;
}


