.logos{
    display: block;
    margin:auto;
    height: 600px;
    width: 500px;
    padding: 20px;
}

.options{
    margin-top: auto;
    padding-top: 20px;
}

.chiefsDefault{
    height: 200px;
    width: 400px;
}

.ninersDefault{
    height: 200px;
    width: 400px;
   }

.button{
    padding: 20px 10px;
    width: 30%;
    margin: auto;
}